div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    /* transition: 3s; */
    /* transition-timing-function:ease-in-out; */
    /* transition-delay: 1s; */
    /* transition: all 1s ease-in 1s; */
    /* transform: rotate(4deg);
     */
      rotate: x 180deg;
    }

div:hover{
    background-color: rgb(170, 113, 44);
    font-size: 20px;
}